.navigation {
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
      0 0 2px rgba(0, 0, 0, 0.07);
   z-index: 95;
   .custom-container {
      @include d-grid(auto 1fr, 2rem, null, center);
      @media (max-width: 991px) {
         gap: 1.5rem;
      }
   }
   .brand {
      width: 71px;
      height: 71px;
      @media (max-width: 767px) {
         width: 55px;
         height: 55px;
      }
   }
   a {
      color: $navigation-color;
   }
   main {
      @include hamburger-menus(
         2rem,
         100,
         inset 0 4px 5px -3px rgba(0, 0, 0, 0.2)
      );
   }
   ul.left {
      @include d-grid(repeat(3, auto), 2rem);
      @media (max-width: 991px) {
         gap: 1rem;
      }
      @media (max-width: 767px) {
         grid-template-columns: auto;
         gap: 2rem;
      }
      i {
         font-size: 1.2rem;
         cursor: pointer;
      }
      li {
         padding: 3rem 0;
         @media (max-width: 991px) {
            padding: 2rem 0;
         }
         @media (max-width: 767px) {
            padding: 0;
         }
      }
      a {
         @media (min-width: 768px) {
            &:hover {
               color: $green;
            }
         }
         @include font(0.9rem, 800);
         @media (max-width: 767px) {
            @include font(1.2rem, 600);
            text-transform: capitalize !important;
         }
         @media (max-width: 575px) {
            font-size: 1.1rem;
         }
      }
   }
   .separator {
      background-color: #e5e5e5;
      height: 2px;
      margin: 2rem 0;
   }
   .right {
      i {
         font-size: 1.2rem;
         @media (max-width: 767px) {
            font-size: 1.4rem;
         }
      }
      a {
         @include font(0.9rem, 700);
         &:first-child {
            width: max-content;
            margin-right: 2rem;
            &:hover {
               color: $green;
            }
            @media (max-width: 991px) {
               margin-right: 1.5rem;
            }
         }
      }
      .buttons a {
         &:first-child {
            @include button(5px 16px, transparent, $black, #f0f0f0, $black);
         }
         &:last-child {
            @include button(
               5px 16px,
               $black,
               $white,
               lighten($black, 30),
               $black
            );
         }
      }
   }

   .open-close-btn {
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color: transparent;
      &:hover .backgroundOnHover {
         transform: scale(1);
      }
      .backgroundOnHover {
         left: 0;
         top: 0;
         right: 0;
         bottom: 0;
         border-radius: 50%;
         background-color: #f1f1f1;
         transform: scale(0);
         transition-timing-function: linear;
      }
      .wrapper {
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 20px;
         height: 15px;
         &.open > div {
            &:first-child,
            &:last-child {
               top: 12px;
               width: 0%;
               left: 50%;
            }
            &:nth-child(2) {
               transform: rotate(45deg);
               background-color: rgba(0, 0, 0, 0.56);
            }
            &:nth-child(3) {
               transform: rotate(-45deg);
            }
         }
         > div {
            &:not(:nth-child(2)) {
               background-color: rgba(0, 0, 0, 0.56);
            }
            width: 20px;
            height: 2px;
            left: 0;
            &:first-child {
               top: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
               top: 6px;
            }
            &:last-child {
               top: 12px;
            }
         }
      }
   }
}

.secondary-hamburger-menu {
   @include hamburger-menus(0, 101);
   @include font(1.2rem, 600);
   header {
      background-color: #f7f7f7;
      box-shadow: inset 0 4px 5px -3px rgba(0, 0, 0, 0.2);
   }
   i {
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      font-size: 1.2rem;
      cursor: pointer;
   }
   ul {
      @include d-grid(1fr, 2rem);
      padding-left: 2.5rem;
   }
   a {
      @include font(1.2rem, 600);
      color: $navigation-color;
      @media (max-width: 575px) {
         font-size: 1.1rem;
      }
   }
}

#overlay {
   top: 71px;
   bottom: 0;
   left: 0;
   right: 0;
   pointer-events: none;
   transition: background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
   &.active {
      background: rgba(0, 0, 0, 0.4);
      pointer-events: all;
      z-index: 90;
   }
}
