.custom-container {
   max-width: 95%;
   margin-left: auto;
   margin-right: auto;
}

* {
   transition: all 0.3s ease-in;
}

body {
   font-family: $open-sans-font;
   &.hidden-overflow {
      overflow-y: hidden;
   }
}

html {
   @include FireFox-scrollbar;
}

/* Add some styles to the scrollbar in Chrome. */
::-webkit-scrollbar {
   @include Chrome-scrollbar;
}

button,
input,
textarea,
a {
   &:focus {
      outline: none;
   }
}
