/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

$black: black;
$white: white;
$navigation-color: rgba(0, 0, 0, 0.87);
$green: #008248;
$dark-green: #1e3932;
$light-grey: #e9e9e9;
$grey: rgba(0, 0, 0, 0.56);
$open-sans-font: "Open Sans", sans-serif;
